h1{
    margin-top: 0%;
    font-size: 50px;
    font-weight: 1000;
    color:black ;
    padding-top: 30%; 
    font-family: 'DM Mono', monospace;
    font-family: 'Pacifico', cursive;

}

.textoOver{
    display: flex;
    justify-content: center;
    align-items: center;
    
}