/* @media (max-width:450px){ */
    .headercenter{
        padding: 5%;
        padding-top: 15%;
        display: flex;
        justify-content: space-between;
    
    }
    .hrtop{
        padding-left: 15%;
    }
    .hrtop hr{
        width: 83%;
        background-color: #1d9df6;
    }
    .oversight-text{
        font-size: 21px;
    }
/* } */