/* @media (max-width:460px){ */
    .iconmenu{
        color: #1d9df6 ;
        width: 25%;
        height: 5%;
    }
    .menu{
        padding-top: 10%;
        width: 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon{
        font-size: 15px;
        color: rgb(189, 189, 218);
    }
/* } */