/* @media (max-width:460px){ */
    .menuhr{
        transform: rotate(90deg);
        position: relative;
        right: 31%;
        top: -72px;
    }
    .menuhr hr{
        background-color: #1d9df6;
    }
/* } */